asn1crypto==1.0.1
astroid==2.3.1
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.1
comtypes==1.1.7
contextlib2==0.6.0
cryptography==2.7
cycler==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
gevent==1.4.0
glob2==0.7
gunicorn==20.1.0
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
Jinja2==2.10.3
joblib==0.13.2
json5==0.8.5
notebook==6.0.1
numpy==1.16.5
numpydoc==0.9.1
packaging==19.2
pandas==0.25.1
path.py==12.0.1
pathlib2==2.3.5
pickleshare==0.7.5
py==1.8.0
requests==2.22.0
scikit-learn==0.21.3
seaborn==0.9.0
tables==3.5.2

